<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class=".col-8">
      <div style="text-align:center">
        <h1>
          Кто твой секретный Санта?
          <br> Фаза {{phaseNum}}: {{phaseName}}
        </h1>
      </div>
      <app-auth [phaseNum]="phaseNum"></app-auth>
      <app-santa [phaseNum]="phaseNum"></app-santa>
      <br>
      <app-songs></app-songs>
      <br>
    </div>
  </div>
  <div class="row">
    <div class=".col-8">
      <button type="button" (click)="Logout()" class="btn btn-warning">Выход</button>
    </div>
  </div>
</div>