<div *ngIf="authenticated">
  <div *ngIf="inLoadingState" class="alert alert-primary" role="alert">
      Загрузка....
  </div>
  <div *ngIf="onError" class="alert alert-danger">
    {{error}}
  </div>
  <div *ngIf="!inLoadingState" class="card" style="width: 40rem;">
    <h4 class="card-header">Ты секретный Санта для:</h4>
    <div class="card-body">
      <h4 class="card-title">{{user.santa}}</h4>
      <p *ngIf="user.isSanta" class="card-text">
        20 декабря ты подаришь подарок {{user.santa}} не дороже 1000 рублей
      </p>
    </div>
  </div>
  <br>
  <button type="button" (click)="Logout()" class="btn btn-warning">Выход</button>
</div>
