<div *ngIf="authenticated">
  <div *ngIf="inLoadingState" class="alert alert-primary" role="alert">
      Загрузка....
  </div>
  <div *ngIf="onError" class="alert alert-danger">
    {{error}}
  </div>
  <div *ngIf="!inLoadingState" class="card" style="width: 40rem;">
    <h5 class="card-header">Ты секретный Санта для: {{user.santa}}</h5>
    <div class="card-body">
      <h4 class="card-title"></h4>
      <p *ngIf="user.isSanta" class="card-text">
        Ты покупаешь подарок для {{user.santa}} примерно на 1000 руб<br>
        20 декабря подарок подарят наш Санта - Сазонов Иван и снегурка!
      </p>
    </div>
  </div>
  <br>
  <button type="button" (click)="Logout()" class="btn btn-warning">Выход</button>
</div>
